.contact {

    &__steps {
        width: fit-content;
        margin: 2rem auto 0 auto;

        @include mobile-only {
            max-width: 85%;
            margin-top: 2rem;
        }

        li {
            font-size: 1.2rem;
            font-family: $lexend;
            font-weight: normal;
            line-height: 2.5rem;
            display: flex;
            align-items: center;

            @include mobile-only {
                font-size: 1rem;
                line-height: 1.2rem;
                margin-top: 1rem;
            }

            strong {
                font-weight: bold;
                text-decoration: underline;
                transition: color .2s ease-in;

                &:hover {
                    color: #f1863b;
                    transition: color .2s ease-in;
                }
            }
            
            i {
                margin-right: 2rem;
                font-size: 2rem;

                @include mobile-only {
                    margin-right: 1rem;
                    font-size: 1.8rem;
                }
            }
        }


    }

    p {
        text-align: center;
        margin-top: 5rem;
        margin-bottom: 2rem;
        font-family: $lexend;
        font-size: 1.5rem;

        @include mobile-only {
            font-size: 1.2rem;
            margin-bottom: 1rem;
        }
    }

    &__payment {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 50%;
        margin: auto;

        @include mobile-only {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            width: 80%;
        }

        li {
            max-width: 20%;

            @include mobile-only {
                margin: auto;
                max-width: 50%;
            }
        }
    }
}

footer {
    font-size: .9rem;
    color: rgb(135, 135, 135);
    position: absolute;
    bottom: .5rem;
    left: 50%;
    transform: translateX(-50%);

    @include mobile-only {
        font-size: .8rem;
        position: inherit;
        text-align: center;
        transform: none;
        margin-top: 4rem;
        padding-bottom: .5rem;
    }
}