// Fonts & color
body {
    color: #202020;
    font-family: $lato;
    font-weight: 500;
}

.page_title {
    font-size: 3rem;
    letter-spacing: .2rem;
    text-transform: uppercase;
    text-align: center;
    margin-top: 4rem;

    @include mobile-only {
        font-size: 2rem;
        margin-top: 0;
    }
}